body
{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
.box
{
    padding: 20px;
}
.header
{
    
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
     url('/grid/images/bg_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0.952);
    position: relative;
}
.header h2
{
    font-size: 35px;
}
.header h2,.header p
{
    padding: 0;
    margin: 0;
}
.row
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.header li
{
    display: inline;
}
.header li a
{
    color: rgba(255, 255, 255, 0.568);
    text-decoration: none;
    padding: 10px;
    transition: .71s;

}
.header li a:hover
{
    color: white;
}
.banner
{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}
.banner h1
{
    font-size: 70px;
    margin: 0;
    
}
.banner p
{
    font-size: 20px;   
}
.banner button
{
    padding: 20px 50px;
    background-color: #c5a880 ;
    color: white;
    border: none;
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.banner .white
{
    background-color: transparent;
    border: 1px solid white;
    
}
.white
{
    transition: .71s;
}
.white:hover
{
    background-color: white;
    color: black;   
}
.fa-arrow-right
{
    font-size: 10px;
}
.avail
{
    text-align: left;
    position: absolute;
    top: 90%;
    left: 5%;
   
}
.avail .row
{
    display: grid;
 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.avail .col,.avail .col1

{
    background-color: #212529;
    padding: 50px;
}
.avail .col1

{
    background-color: #c5a880;
    color: white;
}